<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="newuser">Nuevo Tecnico</ion-title>
    <ion-title *ngIf="!newuser">Modificar Tecnico</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content >

  <ion-item lines="full">
    <ion-label class="titulos">
      Nombre:
    </ion-label>
    <ion-input [(ngModel)]="nombre">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Apellido:
    </ion-label>
    <ion-input [(ngModel)]="apellido">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      DNI:
    </ion-label>
    <ion-input [(ngModel)]="dni" type="number">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Email:
    </ion-label>
    <ion-input [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Telefono:
    </ion-label>
    <ion-input [(ngModel)]="telefono" type="number">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Usuario:
    </ion-label>
    <ion-input [(ngModel)]="usuario">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Contraseña:
    </ion-label>
    <ion-input [(ngModel)]="password">
    </ion-input>
  </ion-item>

  <div style="width: 100%; text-align: center; margin-top: 15px;">
    <ion-button (click)="cancelar()">Cancelar</ion-button>
    <ion-button *ngIf="newuser" (click)="alta_tecnico()">Crear</ion-button>   
    <ion-button *ngIf="!newuser" (click)="modificar_tecnico()">Modificar</ion-button>   

  </div>

  <div style="margin-top: 25px">
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>

</ion-content>