<ion-tabs>
  <ion-tab-bar  slot="top">

    <ion-tab-button tab="administrar-clientes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Administrar clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alta-cliente">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Dar de alta a un cliente</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="programar-visita">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Programar una visita</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="administrar-servicios">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Administrar servicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="administrar-tecnicos">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Administrar tecnicos</ion-label>
    </ion-tab-button>
    
    <ion-icon name="log-out" class="logout" (click)="logout()"></ion-icon>
  </ion-tab-bar>

  

</ion-tabs>