<ion-header>
  <ion-toolbar style="text-align: center;" color="primary">
    <ion-title>Crear un nuevo servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-item lines="full">
      <ion-label style="text-align: left;">Nombre del servicio: </ion-label>
      <ion-input [(ngModel)]="servicio.nombreDelServicio"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label style="text-align: left;">¿Requiere QR?</ion-label>
      <ion-select [(ngModel)]="servicio.requiereQR">
        <ion-select-option value="1">Si</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="full">
      <ion-label style="text-align: left;">¿Contiene productos?</ion-label>
      <ion-select [(ngModel)]="servicio.producto" (ionChange)="producto_asociado()">
        <ion-select-option value="1">Si</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngFor="let campo of formulario; let i = index">
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-item lines="none">
              <ion-col>
                <ion-label>Ingrese titulo del campo: </ion-label>
              </ion-col>
              <ion-col>
                <ion-input [(ngModel)]="campo.nombreCampo"></ion-input>
              </ion-col>
            </ion-item>
          </ion-row>
          <ion-row>
            <div *ngIf="campo.nombreCampo != 'Tipo de producto'">
              <ion-item lines="none">
                <ion-label>
                  Seleccione tipo de campo
                </ion-label>
                <ion-select [(ngModel)]="campo.tipoCampo">
                  <ion-select-option value="input">Escritura</ion-select-option>
                  <ion-select-option value="select">Seleccionable</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
          </ion-row>
          <div *ngIf="campo.tipoCampo == 'select'">
            <ion-item lines="none" *ngFor="let opcion of campo.opciones; let j = index">
              <ion-label>Ingrese la opcion: </ion-label>
              <div style="margin-left: 5px">
                <ion-input [(ngModel)]="campo.opciones[j].opcion"></ion-input>  
              </div>
            </ion-item>  
            <ion-item lines="none">
              <ion-label style="text-align: center;">
                Agregar opcion
              </ion-label>
              <ion-button (click)="agregar_opcion_select(i)">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>  
            </ion-item>
          </div>
        </ion-grid>  
      </ion-item>
    </div>

    <ion-item lines="full">
      <ion-label>
        Agregar campo
      </ion-label>
      <ion-button (click)="agregar_campo_formulario()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <ion-button (click)="crear_servicio()">Listo</ion-button>
  </div>

  <div style="margin-top: 15px">
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>


</ion-content>  