.titulos{
    color: rgb(131, 131, 131)
}

.planos{
    --background: rgb(214, 235, 245);
}

ion-item{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 10px;
}

.imagen_empresa{
    width: 50%;
    margin-left: 25%
}