<ion-content >

  <ion-item style="margin-top: 15px;" lines="full">
    <ion-label class="titulos">
      *Razon social:
    </ion-label>
    <ion-input [(ngModel)]="razon_social">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Telefono (solo numeros):
    </ion-label>
    <ion-input [(ngModel)]="telefono">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Email:
    </ion-label>
    <ion-input [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Direccion:
    </ion-label>
    <ion-input [(ngModel)]="direccion">
    </ion-input>
  </ion-item>

  <div style="width: 100%; text-align: center;">
    <ion-button (click)="cargar_cliente()">Cargar</ion-button>   
  </div>

  <div style="margin-top: 25px">
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>

</ion-content>
