.planos{
    width: 98%;
    height: 98%;
    padding: 5%;
    
}

.equipos{
    height: 65px;
    margin-left: 3%;
}
.grupoequipo{
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align:center;
}

ion-label {
    // --color: #3880ff;
    font-size: 80% !important;
}

.cardPlanos {
width: 100% !important;
height: 100% !important;
}

ion-slides {
    --bullet-background: #000000;
    // --bullet-background-active: #3880ff;
    // --progress-bar-background: 3880ff
    // --progress-bar-background-active: 3880ff
    // --scroll-bar-background: 3880ff
    // --scroll-bar-background-active: 3880ff
}

ion-slides {
    height: 100%;
  }

  .deletePlano {
    --background: #3881ff00;
    --background-activated: #3881ff00;
    --background-activated-opacity: 1;
    --background-focused: #3881ff00;
    --background-focused-opacity: 1;
    --background-hover: #3881ff00;
    --background-hover-opacity: 1;
    --border-color: #3881ff00;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 8px;
    --box-shadow: 10px 10px;
    --color: #3881ff00;
    --color-activated: #3881ff00;
    --color-focused: #3881ff00;
    --color-hover: #3881ff00;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --ripple-color: #3881ff00;
    --transition: background-color 15ms linear;
  }

  .printButton {
      --background-activated: #3881ff7a !important;
      --background-activated-opacity: 1;
      --background-focused: #3881ff7a !important;
      --background-focused-opacity: 1;
      --background-hover: #3881ff7a !important;
      --background-hover-opacity: 1;
      --border-color: #3880ff;
      --border-radius: 8px;
      --border-style: solid;
      --border-width: 1px;
      --opacity: 1;
      --ripple-color: #1e1e1e;
      --transition: background-color 15ms linear;
  }
  .printButtonCancel{
    --background : #ff0800c2 !important;
    --background-activated: #ff0800 !important;
    --background-activated-opacity: 1;
    --background-focused: #ff0800 !important;
    --background-focused-opacity: 1;
    --background-hover: #ff0800 !important;
    --background-hover-opacity: 1;
    --border-color: #ff0800;
    --border-radius: 8px;
    --border-style: solid;
    --border-width: 1px;
    --opacity: 1;
    --ripple-color: #1e1e1e;
    --transition: background-color 15ms linear; 
  }

  .loadding{
    width: 100%;
    height: 100%;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
    background-color: white;
    color: white;
    padding-bottom: 5%;
  }
  ion-icon{
    cursor: pointer;
  }