.planos{
    width: 50%;
    height: 50%;
}

.equipos{
    height: 65px;
    margin-left: 3%;
}
.grupoequipo{
    align-items: center;
    align-self: center;
    align-content: center;
    vertical-align:center;
}

ion-label {
    // --color: #3880ff;
    font-size: 80% !important;
}