<ion-content>
  <div *ngIf="sucursal">
      <ion-row style="text-align: center; background-color: white;padding: 1%;">
        <ion-col size="9"><b style="margin-top:15px">Informacion de la sucursal</b></ion-col>
        <ion-col size="1">Acciones: </ion-col>
        <ion-col size="0.5" style="font-size: 24px !important;"><ion-icon color="primary" title="Descargar Todos los QRs de la sucursal" (click)="descargarAllQrSucursal()" name="cloud-download-outline"></ion-icon></ion-col>
        <ion-col size="0.5" style="font-size: 24px !important;"><ion-icon color="primary" title="Imprimir Toda la informacion de la sucursal" (click)="imprimirAllQrSucursal()" name="print-outline"></ion-icon></ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="3"></ion-col> -->
          <ion-col size="3">
            <ion-label><b>Sucursal</b></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><b>Telefono</b></ion-label>
          </ion-col>
          <ion-col size="3">
            <ion-label><b>Mail</b></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><b>Codigo QR</b></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><b>Acciones</b></ion-label>
          </ion-col>
          <!-- <ion-col size="1"></ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="full" >
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="3"></ion-col> -->
          <ion-col size="3" style="margin-top: 10px;">
            <ion-label>{{sucursal.sucursal[0].razon_social_sucursal}}</ion-label>
          </ion-col>
          <ion-col size="2" style="margin-top: 10px;">
            <ion-label>{{sucursal.sucursal[0].telefono_sucursal}}</ion-label>
          </ion-col>
          <ion-col size="3" style="margin-top: 10px;">
            <ion-label>{{sucursal.sucursal[0].email_sucursal}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-card style="width: 50px; margin-top: 0px;">
              <div>
                <a (click)="descargarSucursal()">
                  <img style="z-index: -1 !important" [src]='sucursal.sucursal[0].codigo_qr' (click)="descargarSucursal()">
                </a>
                <!-- <ion-button (click)="toDataURL(sucursal.sucursal[0].codigo_qr)" expand="block" fill="clear" shape="round">
                  Click me
                </ion-button> -->
              </div>
            </ion-card>
          </ion-col>
          <ion-col style="font-size: 24px !important;" size="2">
            <ion-icon color="primary" title="Descargar este QR" style="margin-top:15px" (click)="descargarSucursal()" name="cloud-download-outline"></ion-icon>
            <!-- <ion-icon color="primary" title="Seleccionar ESTE QR para Imprimir" style="margin-top:15px" (click)="addImprimirQrSucursal()" name="print-outline"></ion-icon> -->
            <ion-icon *ngIf="showDeleteQrSucursal.show" [title]="'Eliminar QR de la lista (' + showDeleteQrSucursal.count +')'" style="margin-top:15px; color: red !important;" (click)="deleteImprimirQrSucursal()" name="print-outline"></ion-icon>
          </ion-col>
          <!-- <ion-col size="1"></ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
    <div style="margin-top: 5px;"></div>
    <ion-row style="background-color: white;">
      <ion-col size="5">
        <ion-item style="text-align: center;" lines="none">
          <ion-label style="font-size: 100% !important;"><b>Workstations/equipos</b></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="7">
        <ion-item style="text-align: right;" lines="none">
          <ion-label></ion-label>
          <ion-icon color="primary" (click)="descargarQrAllWorkstations()" title="Descargar los QR'S de TODAS las Workstations/equipos" name="cloud-download-outline"></ion-icon>
          <ion-icon color="primary" (click)="imprimirQrAllWorkstations()" title="Imprimir los QR'S de TODAS las Workstations/equipos" name="print-outline"></ion-icon>
          <ion-button (click)="alertAltaGrupoWorkstation()">Agregar grupo de workstations</ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


    <!-- <ion-item lines="full">
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            <ion-label><b>Nombre del workstation</b></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><b>Nombre del servicio</b></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><b>Codigo QR</b></ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label><b>Eliminar</b></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <!-- <ion-item lines="full" *ngFor="let equipo of workstations" class="equipos">
      <ion-grid>
        <ion-row>
          <ion-col size="7" style="margin-top: 15px">
            <ion-label>{{equipo.nombre_equipo}}</ion-label>
          </ion-col>
          <ion-col size="2" style="margin-top: 15px">
            <ion-label>{{equipo.nombre_servicio}}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-card style="width: 50px; margin-top: 0px;">
              <div>
                <a [href]="equipo.codigo_qr_equipo" download>
                  <img [src]='equipo.codigo_qr_equipo'>
                </a>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="1">
            <ion-icon name="trash-outline" color="danger" style="margin-top:15px" (click)="borrar_equipo(equipo.id_equipo)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
    <div *ngIf="(grupoWorkStation == undefined) && !loadingEquipos">
      <ion-item>
        <ion-label style="width:  100%; text-align: center;">No se encontraron WorkStation</ion-label>
      </ion-item>
    </div>
    <div class="loadding" *ngIf="loadingEquipos">
      <ion-spinner style="margin-top: 10px; color: #3b3b3f"></ion-spinner>
    </div>
    <div *ngIf="(grupoWorkStation != undefined) && !loadingEquipos">
      <div style="background-color: white;" *ngFor="let grupoEquipo of grupoWorkStation; let j = index">
        <ion-grid>
          <ion-row>
            <ion-col class="grupoequipo" size="5.5" >{{grupoEquipo.nombre_equipo_grupo}}</ion-col>
            <ion-col size="0.5">
              <ion-icon name="trash-outline" color="danger" style="margin-top:15px" (click)="borrar_equipo_grupo(grupoEquipo.id_equipo_grupo,j)"></ion-icon>
            </ion-col>
            <ion-col size="6">
              <ion-item style="text-align: left;" lines="none">
                <ion-icon color="primary" title="Descargar los QR'S de ESTA Workstation/equipo" (click)="descargarQrThisWorkstation(grupoEquipo)" name="cloud-download-outline"></ion-icon>
                <ion-icon color="primary" title="Imprimir los QR'S de ESTA Workstation/equipo" (click)="imprimirQrThisWorkstation(grupoEquipo)" name="print-outline"></ion-icon>
                <ion-button (click)="altaWorkstation(grupoEquipo.id_equipo_grupo,j)">Agregar workstation</ion-button>
                <ion-button (click)="cambiarProductoSector(grupoEquipo)">Producto predeterminado</ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-item lines="full">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-label><b>Workstation</b></ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-label *ngIf="grupoEquipo?.equipos[0]?.id_servicio == 20"><b>Producto predeterminado</b></ion-label>
                </ion-col>
                <ion-col size="2.5">
                  <ion-label><b>Servicio</b></ion-label>
                </ion-col>
                <ion-col size="1.5">
                  <ion-label><b>Codigo QR</b></ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-label></ion-label>
                </ion-col>
                <ion-col size="1">
                  <ion-label><b>Acciones</b></ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <div *ngIf="(grupoEquipo.equipos.length == 0 || grupoEquipo.length == 0)">
            <ion-item>
              <ion-label style="width:  100%; text-align: center;">No se encontraron equipos</ion-label>
            </ion-item>
          </div>
          <div *ngIf="(grupoEquipo.equipos.length > 0)">
            <div *ngFor="let equipo of grupoEquipo.equipos; let i = index">
              <ion-row class="equipos" *ngIf="equipo.nombre_equipo != null">
                <ion-col size="2" style="margin-top: 15px">
                  <ion-label>
                    {{equipo.nombre_equipo}}
                  </ion-label>
                </ion-col>
                <ion-col size="3" style="margin-top: 15px">
                  <ion-label *ngIf="equipo.id_servicio == 20">
                    {{equipo.producto_predeterminado_nombre?equipo.producto_predeterminado_nombre:"Sin producto"}}
                    <ion-icon color="primary" slot="start" name="create-outline" (click)="elegirProducto(equipo)"></ion-icon>
                  </ion-label>
                </ion-col>
                <ion-col size="2.5" style="margin-top: 15px">
                  <ion-label>{{equipo.nombre_servicio}}</ion-label>
                </ion-col>
                <ion-col size="1.5">
                  <ion-card style="width: 50px; margin-top: 0px;">
                    <div>
                      <a  (click)="descargarQrEquipo(equipo)">
                        <img [src]='equipo.codigo_qr_equipo'  (click)="descargarQrEquipo(equipo)">
                      </a>
                    </div>
                  </ion-card>
                </ion-col>
                <ion-col size="2">
                  <ion-icon color="primary" title="Descargar este QR" style="margin-top:15px" (click)="descargarQrEquipo(equipo)" name="cloud-download-outline"></ion-icon>
                  <ion-icon color="primary" title="Seleccionar ESTE QR para Imprimir" style="margin-top:15px" (click)="addmprimirQr(equipo, i, j)" name="print-outline"></ion-icon>
                  <ion-icon *ngIf="showDeleteQr[j][i].show" [title]="'Eliminar QR de la lista (' + showDeleteQr[j][i].count +')'" style="margin-top:15px; color: red !important;" (click)="deleteImprimirQr(equipo, i, j)" name="print-outline"></ion-icon>
                </ion-col>
                <ion-col size="1">
                  <ion-icon name="trash-outline" color="danger" style="margin-top:15px" (click)="borrar_equipo(equipo,j,i)"></ion-icon>
                  <ion-icon color="primary" name="create-outline" style="padding-left: 5px;" (click)="editName(equipo)"></ion-icon> 
                </ion-col>


              </ion-row>
            </div>
          </div>
        </ion-grid>
      </div>
    </div>

  </div>
  <div *ngIf="sucursal" style="margin-top: 10px;">
    <ion-item style="text-align: center;" lines="none">
      <ion-label><b>Planos de la sucursal</b></ion-label>
      <input style="visibility: hidden;" id="inputUploadFile" accept=".pdf" title=" " [disabled]="disabled" type="file" name="" (change)="showFile($event.target.files)">
      <ion-icon slot="end" name="add-circle-outline" color="primary" (click)="agregar_plano()"></ion-icon>
    </ion-item>
    <div *ngFor="let plano of sucursal.planos">
      <ion-item button *ngIf="sucursal.planos.length > 0">
        <ion-icon (click)="openPdf(plano.url_imagen_plano)" name="eye" slot="start"></ion-icon>
        <ion-label (click)="openPdf(plano.url_imagen_plano)">{{plano.name}}</ion-label>
        <ion-icon slot="end" style="color: red;" name="trash-outline" (click)="alert_eliminar_plano(plano.id_plano)"></ion-icon>
      </ion-item>

    </div>
    <ion-item button *ngIf="sucursal.planos.length == 0">
      <ion-label>No hay planos cargados</ion-label>
    </ion-item>
    <!-- <ion-slides pager="true" style="background-color: secondary">
      <ion-slide *ngFor= "let plano of sucursal.planos">
        <ion-card class="cardPlanos">

          <img src={{plano.url_imagen_plano}}  class="planos">
          <ion-button class="deletePlano" style="position:absolute; right: 0%; bottom: 0%;" (click)="alert_eliminar_plano(plano.id_plano)">
            <ion-icon style="color: red;" name="trash-outline" (click)="alert_eliminar_plano(plano.id_plano)"></ion-icon>
          </ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides> -->
  </div>

</ion-content>

<ion-footer *ngIf="qrsToPrint.length > 0">
  <ion-toolbar color="primary">
    <ion-title>QR'S Seleccionados ({{qrsToPrint.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button class="printButton" (click)="printSelect()">Imprimir</ion-button>
      <ion-button class="printButtonCancel" (click)="deletePrintSelect()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
