<ion-content>
  <ion-row>
    <ion-col size=5></ion-col>
    <ion-col size=2>
      <ion-card>
        <ion-item (click)="crear_servicio()" lines="none">
          <ion-label><b>Crear un nuevo servicio</b></ion-label>
          <ion-button class="boton_nuevo_servicio" slot="end">    
            <ion-icon color="primary" name="duplicate-outline"></ion-icon>
          </ion-button>
       </ion-item>
      </ion-card>
    </ion-col>
    <ion-col size=5></ion-col>
  </ion-row>

  <div>
    <ion-item lines="none" class="titulo_lista_servicios" style="margin-bottom: 20px;">
      <ion-label style="text-align: center;"><b>Servicios</b></ion-label>  
    </ion-item>
    <ion-item lines="full" *ngFor="let servicio of servicios" class="lista_servicios">
      <ion-label style="text-align: left;">
        <b>{{servicio.nombre_servicio}}</b>
      </ion-label> 
      <ion-buttons>
        <ion-icon name="enter-outline"></ion-icon>
      </ion-buttons>
    </ion-item>
  </div>

</ion-content>
