.titulo_lista_servicios{
    text-align: center;
    font-size: 35px
}

.lista_servicios{
    width: 40%;
    margin-left: 30%;
    margin-bottom: 20px;
}

.boton_nuevo_servicio{
    --background: transparent;
}