<ion-content>
  
  <div style="margin-left: 30%; width: 40%;">
    <ion-card style="text-align: center;">
      <ion-item lines="full" class="titulo_lista_servicios" style="margin-bottom: 20px;">
        <ion-label style="text-align: center;"><b>Servicios</b></ion-label>  
        <ion-button (click)="crear_servicio()">
          Crear servicio
        </ion-button>
      </ion-item>
      <ion-item lines="full" *ngFor="let servicio of servicios" class="lista_servicios">
        <ion-label style="text-align: left;">
          <b>{{servicio.nombre_servicio}}</b>
        </ion-label> 
        <ion-buttons>
          <ion-icon name="enter-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
