.filter-col{
    display: flex;
    align-items: center;
}
ion-checkbox{
    min-width: 18px;
}
ion-icon{
    cursor: pointer;
}.no-pointer{
    cursor:default;
    color: gray;
}
.itemHover:hover{
    --background: rgb(236, 236, 236);
    cursor: pointer;
}