<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Desde</ion-label>
          <ion-datetime [disabled]="filtrar_fecha" display-format="DD.MM.YYYY" [(ngModel)]="fecha_desde" (ionChange)="revisarMenor()"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-item lines="none">
          <ion-label position="floating">Hasta</ion-label>
          <ion-datetime [disabled]="filtrar_fecha" display-format="DD.MM.YYYY" [(ngModel)]="fecha_hasta" (ionChange)="revisarMayor()"></ion-datetime> 
        </ion-item>     
      </ion-col>
      <ion-col size="2" class="filter-col">
        <ion-label class="ion-text-wrap" style="padding-right: 5px;">Siempre</ion-label>
        <ion-checkbox [(ngModel)]="filtrar_fecha" (ionChange)="filtrar()"></ion-checkbox>
      </ion-col>
      <ion-col offset="2" size="1" class="filter-col">
        <ion-label class="ion-text-wrap" style="padding-right: 5px;">Entregado</ion-label>
        <ion-checkbox [(ngModel)]="entregado" (ionChange)="filtrar()"></ion-checkbox>
      </ion-col>
      <ion-col size="1" class="filter-col">
        <ion-label class="ion-text-wrap" style="padding-right: 5px;">Finalizada</ion-label>
        <ion-checkbox [(ngModel)]="finalizada" (ionChange)="filtrar()"></ion-checkbox>       
      </ion-col>
      <ion-col size="1" class="filter-col">
        <ion-label class="ion-text-wrap" style="padding-right: 5px;">En proceso</ion-label>
        <ion-checkbox [(ngModel)]="enProceso" (ionChange)="filtrar()"></ion-checkbox>     
      </ion-col>
      <ion-col size="1" class="filter-col">
        <ion-label class="ion-text-wrap" style="padding-right: 5px;">Pendiente</ion-label>
        <ion-checkbox [(ngModel)]="pendiente" (ionChange)="filtrar()"></ion-checkbox>   
      </ion-col>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-col size="3"><b>Fecha</b></ion-col>
    <ion-col size="3"><b>Sucursal</b></ion-col>
    <ion-col size="3"><b>Estado</b></ion-col>
    <ion-col size="3"><b>Acciones</b></ion-col>
  </ion-item>
  <ion-item *ngFor="let visita of visitas_filtro">
    <ion-col size="3">{{visita.fecha_visita | date:  "dd/MM/yyyy HH:mm"}} </ion-col>
    <ion-col size="3">{{visita.razon_social_sucursal}}</ion-col>
    <ion-col size="3">{{visita.estado_visitas}}</ion-col>
    <ion-col size="3">
      <ion-icon color="primary" name="enter-outline" (click)="verVisita(visita.id_visita)"></ion-icon>
      <ion-icon *ngIf="visita.estado_visitas == 'pendiente' || visita.estado_visitas == 'en proceso'" color="danger" name="trash-outline" (click)="eliminarVisitaAlert(visita)"></ion-icon>
    </ion-col>
  </ion-item>
  <ion-item *ngIf="visitas_filtro?.length == 0">
    <ion-label style="text-align: center;">No se encuentran visitas que cumplan las condiciones</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-right: 20px; padding-bottom: 10px;" >
    <ion-fab-button (click)="navigateToCrearVisita()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
