<ion-content>
  <div>
    <ion-item lines="none">
      <ion-label style="text-align: center;"><b>Tecnicos</b></ion-label>
      <ion-button (click)="altaTecnico()">Agregar tecnico</ion-button>
    </ion-item>
    <ion-item lines="full" class="titulos">
      <ion-col size="1"></ion-col>
      <ion-col size="2"><ion-label><b>Nombre</b></ion-label></ion-col>
      <ion-col size="2"><ion-label><b>Apellido</b></ion-label></ion-col>
      <ion-col size="2"><ion-label><b>DNI</b></ion-label></ion-col>
      <ion-col size="2"><ion-label><b>Email</b></ion-label></ion-col>
      <ion-col size="2"><ion-label><b>Telefono</b></ion-label></ion-col>
    </ion-item>     
    <div *ngIf="tecnicos">
        <div *ngFor="let tecnico of tecnicos">
          <ion-item lines="full">
              <ion-col size="1"></ion-col>
              <ion-col size="2">
                <ion-label>
                  {{tecnico.nombre_tecnico}}
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  {{tecnico.apellido_tecnico}} 
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  {{tecnico.DNI}}
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  {{tecnico.email_tecnico}}
                </ion-label>
              </ion-col>
              <ion-col size="2">
                <ion-label>
                  {{tecnico.telefono_tecnico}}
                </ion-label>
              </ion-col> 
              <ion-col size="2">
                <ion-icon name="trash-outline" color="danger" (click)="confirmar_baja(tecnico.id_tecnico)"></ion-icon>
              </ion-col>
          </ion-item>
        </div>
      </div>
  </div>
</ion-content>

