<ion-content>
    <!-- <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
        Click me
    </ion-button> -->
    <ion-item style="margin-top: 15px;">
        <ion-label fixed style="text-align: center;">Seleccionar un cliente</ion-label>
        <ion-select [interfaceOptions]="custom" (ionChange)="sucursalesCliente($event.target.value)">
            <ion-select-option  *ngFor="let cliente of listado_clientes" value="{{cliente.id_cliente}}">{{cliente.razon_social_cliente}}</ion-select-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
        <ion-label fixed style="text-align: center;">Seleccionar una sucursal</ion-label>
        <ion-select [interfaceOptions]="custom" [disabled]="id_cliente_elegido == null" (ionChange)="selectSucursal()" [(ngModel)]="sucursal_elegida">
            <ion-select-option *ngFor="let sucursal of listado_sucursales_cliente" value="{{sucursal.id_sucursal}}">{{sucursal.razon_social_sucursal}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label fixed style="text-align: center;">Seleccionar servicios a ofrecer</ion-label>
        <ion-select [interfaceOptions]="custom" [disabled]="(sucursal_elegida == null) && !equiposCargados && !workStationCargados" [(ngModel)]="servicios_elegidosAux"multiple="true" (ionChange)="serviciosElegidosChange()">
            <ion-select-option *ngFor="let servicio of listado_servicios" value="{{servicio.id_servicio}}">{{servicio.nombre_servicio}}</ion-select-option>
        </ion-select>
    </ion-item>

    <div *ngIf="grupoWorkStationElegidos.length > 0">
        <h2 style="text-align: center;">Tecnico principal</h2>
        <div>
            <ion-item style="margin-top: 10px;">
                <ion-label fixed style="text-align: center;">Tecnico principal</ion-label>
                <ion-select (ionChange)="selectTecnicoPrincipal()" [interfaceOptions]="custom" [(ngModel)]="tecnicoPrincipal">
                    <ion-select-option *ngFor="let tecnico of listado_tecnicos" [value]="tecnico">{{tecnico.nombre_tecnico}} {{tecnico.apellido_tecnico}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>    
    </div>

    <div *ngFor="let servicio of serviciosElegidos" style="text-align: center;">
        <h2 style="text-align: center;">{{servicio.nombre_servicio}}</h2>
        <div *ngFor="let equipo of servicio.equipos">
            <ion-label fixed style="text-align: center;color: var(--ion-color-secondary);font-weight: bold;">{{equipo.nombre_equipo}}</ion-label>
            <ion-item style="margin-top: 10px;">
                <ion-label fixed style="text-align: center;">Seleccionar técnico a cargo</ion-label>
                <ion-select [interfaceOptions]="custom" [(ngModel)]="equipo.tecnico">
                    <ion-select-option *ngFor="let tecnico of listado_tecnicos" value="{{tecnico.id_tecnico}}">{{tecnico.nombre_tecnico}} {{tecnico.apellido_tecnico}}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>
    </div>
    
    <div *ngIf="show">
        <div *ngFor="let servicio of grupoWorkStationElegidos; let h = index" style="text-align: center;">
            <h2 style="text-align: center;">{{servicio.nombre_equipo_grupo}}</h2>
            <ion-item style="margin-top: 10px;" (click)="presentAlertCheckbox(servicio, h, servicio.tecnico)">
                <ion-label style="width: fit-content;" fixed style="text-align: center;">Seleccionar técnicos a cargo</ion-label>
                <p *ngFor="let tecnico of servicio.tecnico">{{tecnico.nombre_tecnico}}, </p>
            </ion-item>

            <div>
                <ion-row>
                    <ion-col offset=3 size="3" style="text-align:start;">
                        <ion-label style="font-weight: bold;">Equipo</ion-label>
                    </ion-col>
                    <ion-col *ngFor="let tecnico of servicio.tecnico" [size]="3/servicio.tecnico.length">
                        {{tecnico.nombre_tecnico}}
                    </ion-col>
                </ion-row>
            </div>
            <div style="min-width:50%;" *ngFor="let equipo of servicio.equipos ; let i = index">
                <ion-row>
                    <ion-col offset=3 size="3" style="text-align:start; border-bottom: 1px solid black;">
                        <ion-label style="color: var(--ion-color-secondary);font-weight: bold;">{{equipo.nombre_equipo + ' - ' + equipo.zona + ' - ' + equipo.nro_equipo}}: {{equipo.nombre_servicio}}</ion-label>
                    </ion-col>
                    <ion-col style="border-bottom: 1px solid;" *ngFor="let tecnico of servicio.tecnico; let t = index" [size]="3/servicio.tecnico.length">
                        <ion-checkbox (click)="prueba(servicio, t,h, i)" [(ngModel)]="tecnico.equipos[h][i].selected" [checked]="servicio.tecnico.length == 1" ></ion-checkbox>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>


    <!-- <ion-item>
        <ion-label fixed style="text-align: center;">Seleccionar técnico a cargo</ion-label>
        <ion-select [(ngModel)]="tecnico_elegido">
            <ion-select-option *ngFor="let tecnico of listado_tecnicos" value="{{tecnico.id_tecnico}}">{{tecnico.nombre_tecnico}} {{tecnico.apellido_tecnico}}</ion-select-option>
        </ion-select>
    </ion-item> -->

    <ion-item>
        <ion-label fixed style="text-align: center;">Elegir una fecha</ion-label>
        <ion-datetime [(ngModel)]="fecha_elegida" [doneText]="'Listo'"
        [cancelText]="'Cancelar'" [monthNames]="monthNames" [dayNames]="dayNames" displayFormat="DDDD D MMMM YYYY HH:mm" [max]="fecha_maxima" value="{{fecha_actual}}"></ion-datetime>
    </ion-item>

    <div style="width: 100%; text-align: center;">
        <ion-button (click)="programarVisita()">Agendar</ion-button>
    </div>
        
    <div style="margin-top: 25px">
        <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
    </div>

</ion-content>
