<ion-header>
  <ion-toolbar style="text-align: center;" color="primary">
    <ion-title>Modificar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cliente">
  <ion-item lines="full">
    <ion-label class="titulos">
      Razon social:
    </ion-label>
    <ion-input [(ngModel)]="razon_social">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Telefono:
    </ion-label>
    <ion-input [(ngModel)]="telefono">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Email:
    </ion-label>
    <ion-input [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Direccion:
    </ion-label>
    <ion-input [(ngModel)]="direccion">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <img [src]="cliente.clienteDatos[0].logo_cliente" alt="" *ngIf="cliente.clienteDatos[0].logo_cliente">
    <ion-button (click)="agregarLogo()" *ngIf="!logo">
      Seleccionar Logo
    </ion-button>
    <img [src]="logo" alt="" style="width: 50%;margin-left: 25%;padding: 5px;">
  </ion-item>

  <div style="width: 100%; text-align: center; margin-top: 10px;">
    <ion-button (click)="modificar_cliente()">Modificar</ion-button>   
  </div>

  <div style="margin-top: 25px">
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>

</ion-content>
