<ion-header>
  <ion-toolbar style="text-align: center;" color="primary">
    <ion-title>Modificar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="cliente">
  <ion-item lines="full">
    <ion-label class="titulos">
      Razon social:
    </ion-label>
    <ion-input [(ngModel)]="razon_social">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Telefono: (solo numeros)
    </ion-label>
    <ion-input [(ngModel)]="telefono">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Email:
    </ion-label>
    <ion-input [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label class="titulos" >
      Direccion:
    </ion-label>
    <ion-input [(ngModel)]="direccion">
    </ion-input>
  </ion-item>

  <ion-item lines="full">
    <!-- <img [src]="cliente.clienteDatos[0].logo_cliente" alt="" *ngIf="cliente.clienteDatos[0].logo_cliente"> -->
    <img [src]="logo" alt="" style="width: 50%;margin-left: 25%;padding: 5px;">
    <ion-icon *ngIf="!(logo == null)" name="trash-outline" color="danger" style="margin-top:15px" (click)="deleteLogo()"></ion-icon>
    <ion-button (click)="agregarLogo()" *ngIf="(logo == null)">Seleccionar Logo</ion-button>

  </ion-item>

  <div style="width: 100%; text-align: center; margin-top: 10px;">
    <ion-button (click)="modificar_cliente()">Modificar</ion-button>   
  </div>

  <div style="margin-top: 25px">
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>

</ion-content>
