<ion-header>
  <ion-toolbar style="text-align: center;" color="primary">
    <ion-title>visita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!visita" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="visita">
    <div *ngIf="visita.visitas.horario_salida != 'NULL'">
      <ion-item lines="full">
        <ion-label *ngIf="validDate"><b>Fecha de concluida la visita:</b> {{visita.visitas.horario_salida | date: 'dd/MM/yyyy hh:mm a'}}</ion-label>
        <ion-label *ngIf="!validDate"><b>Fecha de concluida la visita:</b> {{visita.visitas.horario_salida}}</ion-label>
      </ion-item>
    </div>
    <div *ngIf="visita.visitas.horario_salida == 'NULL'">
      <ion-item>
        <ion-label><b>Fecha estimada de la visita:</b> {{visita.visitas.fecha_visita | date: 'dd/MM/yyyy hh:mm'}}</ion-label>
      </ion-item>
    </div>
    <ion-item lines="full">
      <ion-label><b>Cliente:</b> {{visita.visitas.razon_social_cliente}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label><b>Sucursal:</b> {{visita.visitas.razon_social_sucursal}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label><b>Servicios ofrecidos:</b>
        <div *ngFor="let servicio of visita.servicios2; let i = index" style="margin-left:10px; margin-top: 10px">
          <div style="cursor: pointer;" *ngIf="visita.visitas.estado_visitas == 'finalizada'" (click)="editarServicio(servicio.id_servicio, servicio.id_formulario)">
            <ion-icon name="document-outline" color="primary"></ion-icon>
            {{servicio.nombre_servicio}}{{" - " + servicio?.tecnicos}}
            <ion-icon name="create-outline" style="cursor: pointer;" *ngIf="visita.visitas.estado_visitas == 'finalizada'" ></ion-icon>  
          </div>
          <div *ngIf="visita.visitas.estado_visitas != 'finalizada'">
            <ion-icon name="document-outline" color="primary"></ion-icon>
            {{servicio.nombre_servicio}}{{" - " + servicio?.tecnicos}}
            <ion-icon name="create-outline" style="cursor: pointer;" *ngIf="visita.visitas.estado_visitas == 'finalizada'" ></ion-icon>  
          </div>
        </div>
      </ion-label>
    </ion-item>
    <div *ngIf="(visita.visitas.horario_salida != 'NULL') && (visita.visitas.estado_visitas != 'en proceso')">
      <div *ngIf="!pdf_generado && visita.visitas.pdfGenerado == 0">
        <ion-button expand="full" (click)="generar_pdf()">Generar PDF</ion-button>
      </div>
      <div *ngIf="pdf_generado || visita.visitas.pdfGenerado == 1">
        <ion-button expand="full" (click)="ver_pdf()" color="success">Ver PDF</ion-button>
      </div>
      <div *ngIf="pdf_generado || visita.visitas.pdfGenerado == 1">
        <ion-button expand="full" (click)="generar_pdf()">Volver a generar PDF</ion-button>
      </div>
    </div>
    <div *ngIf="visita.visitas.horario_salida == 'NULL'">
      <ion-button expand="full" (click)="modificar_visita()">Modificar visita</ion-button>
    </div>
  </div>

  <div>
    <img class="imagen_empresa" src='../../../assets/LogoCPA-01.png'>
  </div>


</ion-content>


